AutoArtist/bin
AutoArtist/obj
imageeditor/bin
imageeditor/obj
*.suo
packages/
TeespringUploader/bin
TeespringUploader/obj
TeespringWebUploader/obj
TeespringWebUploader/bin
CafepressUploader/bin
CafepressUploader/obj
ViralStyleUploader/bin
ViralStyleUploader/obj
SunfrogUploader/bin
SunfrogUploader/obj
AutoUpload/bin
AutoUpload/obj
RaviLib/bin
RaviLib/obj