<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.1.0" targetFramework="net452" />
  <package id="mongocsharpdriver" version="1.11.0" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.2.4" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.2.4" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.2.4" targetFramework="net452" />
  <package id="MongoRepository" version="1.6.11" targetFramework="net452" />
</packages>