<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SunfrogUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SunfrogToolkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="log4net.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %message%newline" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <userSettings>
    <SunfrogUploader.Properties.Settings>
      <setting name="SunfrogConfig" serializeAs="String">
        <value>\DataConfig\Sunfrog\acc.json</value>
      </setting>
      <setting name="LogoConfig" serializeAs="String">
        <value>\DataConfig\Logo\{0}.json</value>
      </setting>
      <setting name="ContentConfig" serializeAs="String">
        <value>\DataConfig\Content\{0}.json</value>
      </setting>
      <setting name="LogoPath" serializeAs="String">
        <value>\Resources\Logo\</value>
      </setting>
      <setting name="SplitString" serializeAs="String">
        <value>-_-</value>
      </setting>
      <setting name="LogoExportPath" serializeAs="String">
        <value>\Resources\Autologo\</value>
      </setting>
      <setting name="ExportSplitString" serializeAs="String">
        <value>_</value>
      </setting>
      <setting name="ListNameSuccess" serializeAs="String">
        <value>\ListNameSuccess.txt</value>
      </setting>
      <setting name="ErrorNameList" serializeAs="String">
        <value>\ErrorName.txt</value>
      </setting>
      <setting name="UploadedLinks" serializeAs="String">
        <value>\uploaded.txt</value>
      </setting>
    </SunfrogUploader.Properties.Settings>
  </userSettings>
<connectionStrings>
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
    <add name="MongoServerSettings" connectionString="mongodb://ravi113:19001560@ds023452.mlab.com:23452/sunfroguploader" />
  </connectionStrings></configuration>