<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AutoUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
    </configSections>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="log4net.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %message%newline" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AutoUpload.Properties.Settings>
            <setting name="ViralStyle_Mockup_Path" serializeAs="String">
                <value>Platform\ViralStyle\Shirts</value>
            </setting>
            <setting name="ViralStyle_Account_Path" serializeAs="String">
                <value>Platform\ViralStyle\accounts.txt</value>
            </setting>
            <setting name="ViralStyle_Product_Path" serializeAs="String">
                <value>Platform\ViralStyle\Products\Product.json</value>
            </setting>
            <setting name="SHOW_MOCKUP" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="TEMPLATE_PATH" serializeAs="String">
                <value>Platform\ViralStyle\Templates\</value>
            </setting>
            <setting name="COMPLETED_PATH" serializeAs="String">
                <value>Completed\</value>
            </setting>
            <setting name="EMAIL" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="MAX_COLORS" serializeAs="String">
                <value>20</value>
            </setting>
        </AutoUpload.Properties.Settings>
    </userSettings>
</configuration>